---
import LogPreview from "@/components/LogPreview";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import weekOfYear from "dayjs/plugin/weekOfYear";

const logs = await getCollection("log", ({ data }) => {
  return import.meta.env.PROD ? data.published === true : true;
});

dayjs.extend(weekOfYear);
const currentWeek = dayjs().week();
const currentYear = dayjs().year();
logs.sort((a, b) => {
  return b.data.releaseDate.getTime() - a.data.releaseDate.getTime();
});
---

<DefaultLayout
  title="Blog"
  description="Trying to get my blog started so future historians can have my genius thoughts preserved for eternity /s"
>
  <section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
      <div class="mx-auto mb-8 max-w-screen-sm text-center lg:mb-16">
        <h2
          class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 lg:text-4xl"
        >
          dev log
        </h2>
        <p class="l font-light text-gray-500 sm:text-xl">
          weekly summary of what i've been working on
        </p>
        <p>
          next log:&nbsp;
          <b>
            <a href={`/dev-log/log/${currentYear}/${currentWeek}`}>
              {currentYear + "/" + currentWeek}
            </a>
          </b>
        </p>
      </div>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          logs.map((log) => (
            <LogPreview log={log}>
              <div
                slot="image"
                transition:name={"hero" + log.slug}
                class="absolute inset-0 overflow-hidden rounded-lg"
              >
                <div class="absolute inset-0 bg-gradient-to-r from-card via-card/90 to-card/80 z-10" />
                <img
                  src={log.data.image}
                  alt={log.data.title}
                  class="h-full w-full object-cover"
                />
              </div>
            </LogPreview>
          ))
        }
      </div>
    </div>
  </section>
</DefaultLayout>
