---
import NavItem from "./NavItem.astro";
import ImgAstronaut from "/public/astronaut.avif";
import { Picture } from "astro:assets";

const navigation = [
  { name: "who am i", href: "/", regex: "^/$", current: false },
  { name: "blog", href: "/blog/", regex: "^/blog/", current: false },
  { name: "dev log", href: "/dev-log/", regex: "^/dev-log/", current: false },
  {
    name: "projects",
    href: "/projects/",
    regex: "^/projects/",
    current: false,
    defaultHidden: true,
  },
  {
    name: "tags",
    href: "/tags/",
    regex: "^/tags",
    current: false,
    defaultHidden: true,
  },
];

const socials = [
  {
    name: "GitHub",
    href: "https://github.com/MaximilianMauroner",
    icon: "/github-mark-white.svg",
  },
];

// Update current page in navigation
const pathname = Astro.url.pathname;
navigation.forEach((item) => {
  const regex = new RegExp(item.regex);
  item.current = regex.test(pathname);
});
---

<header
  class="sticky top-0 z-50 flex items-center justify-center bg-primary px-2 py-2 text-primary-foreground sm:px-6 md:justify-between"
>
  <nav
    class="flex w-full items-center justify-around gap-2 sm:justify-center sm:gap-6"
  >
    <a href="/" class="flex items-center gap-2 font-medium">
      <div class="my-auto flex h-20 w-20 items-center justify-center">
        <Picture
          src={ImgAstronaut}
          formats={["avif"]}
          loading="eager"
          alt="Astronaut with laptop"
        />

        <span class="sr-only">Astronaut</span>
      </div>
    </a>

    {navigation.map((item) => <NavItem item={item} isMobile={false} />)}
    <div class="grid grid-cols-2 gap-2">
      {navigation.map((item) => <NavItem item={item} isMobile={true} />)}
    </div>
  </nav>
  <div class="flex gap-4">
    {
      socials.map((item) => (
        <a
          href={item.href}
          title={item.name}
          target="_blank"
          class="hidden items-center gap-2 text-sm font-medium underline-offset-4 hover:underline md:flex"
        >
          <div class="h-6 w-6">
            <img src={item.icon} alt={item.name} width={1000} height={1000} />
          </div>
        </a>
      ))
    }
  </div>
</header>
